Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/packages
/SalarCompactSerializer.Tests
/SalarCompactSerializer.DemoApp
/Salar.Bois.Demo
/Salar.Bois.MonoTest
/OtherProjects
/Salar.BoisBenchmark/Salar.BoisBenchmark-BeforePackageUpdates.7z
/Salar.BoisDirtyTests
/SalarCompactSerializer
/Salar.Bois.2.2.1.0.nupkg
/Salar.Bois-Before-REVERT.7z
/CreateNuget-Push.cmd
/CreateNuget-Pack.cmd
